<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="header">
            <h1>Edit Recipe!</h1>
            <div class="mb-3">
                <a href="/recipes" class="btn btn-primary">back to recipes</a>
                <a href="/logout" class="btn btn-danger">logout</a>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/recipes-edit" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ recipe.name }}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" value="{{ recipe.description }}">
            </div>
            <div class="form-group">
                <label for="instructions">Instructions</label>
                <textarea class="form-control" id="instructions" name="instructions" rows="3">{{ recipe.instructions }}</textarea>
            </div>
            <div class="form-group">
                <label for="date-cooked">Date Cooked/Made:</label>
                <input type="date" class="form-control" id="created_at" name="created_at" value="{{ recipe.created_at.strftime('%Y-%m-%d') }}">
            </div>
            <div class="form-group">
                <label>Under 30 minutes?</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="under" id="yes" value="1" {{ 'checked' if recipe.under == 1 else '' }}>
                    <label class="form-check-label" for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="under" id="no" value="0" {{ 'checked' if recipe.under == 0 else '' }}>
                    <label class="form-check-label" for="no">No</label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="{{ recipe.id }}">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>